

// font-family: 'Quicksand', sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IBM Plex Serif', serif;
  line-height: 1.3;
}

h1 {
  font-size: 4.5rem;
  font-weight: 600;
  letter-spacing: 4px;
}

h2 {
  font-size: 3.75rem;
  font-weight: 400;
}

h3 {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 2px;

}

h4 {
  font-size: 2.25rem;
  font-weight: 400;
  font-style: italic;
}

h5 {
  font-size: 1.5rem;
  font-weight: 400;
}

h6 {
  font-size: 1.25rem;
  font-weight: 500;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
  color: black;
}

.body-content {
  margin: 1%;
  background-color: #F2F2F2;
}


.topbar-center-logo {
  background: #2c3840;
}

.topbar-center-logo .menu {
  background: #2c3840;
}

.topbar-center-logo .menu a {
  color: #fefefe;
}

.topbar-center-logo .top-bar-center {
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

@media screen and (max-width: 39.9375em) {
  .topbar-center-logo .top-bar-center {
    display: none;
  }
}

.topbar-center-logo-mobile {
  background: #2c3840;
}

.topbar-center-logo-mobile .menu-icon {
  vertical-align: text-top;
}

// .hero-container {
//   height: 300px;
//   width: auto;
// }

.hero-text {
  color: #A60303;
  font-style: italic;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grid-x {
  background-color: white;
}

.right-column {
  background-color: #F2F2F2;
  text-align: center;
  border-top-left-radius: 25%;
  border-bottom-left-radius: 5%;
}

.left-column {
  background-color: #F2F2F2;
  text-align: center;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 5%;
}

.show-header-text {
  padding-top: 1.5rem;
}

// Tool Show Page Section

.card-container {
  margin: 2rem 4rem;
  background-color: #fefefe;
  color: #0a0a0a;
  overflow: hidden;
  padding: 0;
  border-radius: 10px;
}
.card-container .card-tool-user-img .tool-user-image {
  display: block;
  margin: auto;
  border-radius: 0;
  width: 11.875rem;
  height: 11.875rem;
  padding-top: 1.5rem;
  padding-bottom: 0.9375rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.card-container .tool-user-info {
  padding-top: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  text-align: left;
}

.card-container .card-user-button {
  text-align: center;
  padding: 1rem;
}

.button {
  background-color: #03178C;
  font-size: .8125rem;
  font-weight: 600;
}

blockquote {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}

// Footer Section
.footer-content {
  background: #2c3840;
  color: #ffffff;
  font-size: 1.25rem;
  font-style: italic;
  margin-bottom: 0px;
  padding: 1.5%;
  text-align: center;
}
